<style>
	.select-wrapper input.select-dropdown {
		display: none !important;
	}

	.card .card-image img {
		height: 0% !important;
	}

	.cardDiv .wrapper {
		min-height: 200px !important;
	}

	.input-hidden {
		position: absolute;
		left: -9999px;
	}

	input[type=radio]:checked+label>i {
		color: #FF4200;
	}

	input {
		text-align: center;
	}

	input[type=radio]+label>i {
		width: 50%;
		transition: 500ms all;
	}

	.login.flaticon-user-3:before {
		content: "\f25e";
		font-size: 7em;
	}

	.login.flaticon-user-2:before {
		content: "\f25d";
		font-size: 7em;
	}

	.modal-overlay {
		display: none !important;
	}

	.slick-slider .slick-track,
	.slick-slider .slick-list {
		font-weight: bold !important;
	}
</style>
<div ng-show="prr" id="preloader-app">
	<div id="status-app" class="ld ld-ring ld-spin"></div>
</div>
<!-- MODAL3 FB-->
<div id="modal3" class="modal modal-form backgorund1A EsphimereLight modal-fixed-footer" style="width: 95% !important;max-height: 95% !important;height:95%!important">
	<div class="modal-content" style="height: calc(114% - 40px) !important">
		<main>
			<div class="">
				<div class="row">
					<div class="col xs12 sm12 md12 lg12" style="float: none !important">
						<center>
							<img src="dist/img/Icono-negro.png" alt="Logo" style="width:30px;margin-top: 10px">
						</center>
						<div class="">
							<ul class="progressbar">
								<li id="generFB">Datos</li>
								<li id="finishFB">Finalizar</li>
							</ul>
						</div>
					</div>
				</div>
				<form name="multiStepForm3" class="form-validation" role="form" novalidate>
					<div ng-include="'views/modalFB.html'"></div>
				</form>
			</div>
		</main>
	</div>
</div>
<!-- MODAL3 -->
<!-- MODAL2 PHONE-->
<div id="modal2" class="modal modal-form backgorund1A EsphimereLight modal-fixed-footer" style="width: 95% !important;max-height: 95% !important;height:95% !important">
	<div class="modal-content" style="height: calc(114% - 40px) !important">
		<main>
			<div class="">
				<div class="row">
					<div class="col xs12 sm12 md12 lg12" style="float: none !important">
						<center>
							<img src="dist/img/Icono-negro.png" alt="Logo" style="width:30px;margin-top: 10px">
						</center>
						<div class="">
							<ul class="progressbar">
								<li id="generPhone">Datos</li>
								<li id="finishPhone">Finalizar</li>
							</ul>
						</div>
					</div>
				</div>
				<form name="multiStepForm2" class="form-validation" role="form" novalidate>
					<div ng-include="'views/modalPhone.html'"></div>
				</form>
			</div>
		</main>
	</div>
</div>
<!-- MODAL2 -->
<!-- MODAL1 EMAIL-->
<div id="modal1" class="modal modal-form backgorund1A EsphimereLight modal-fixed-footer" style="width: 95% !important;max-height: 95% !important;height:95% !important">
	<div class="modal-content" style="height: calc(114% - 40px) !important">
		<main>
			<div class="">
				<div class="row">
					<div class="col xs12 sm12 md12 lg12" style="float: none !important">
						<center>
							<img src="dist/img/Icono-negro.png" alt="Logo" style="width:30px;margin-top: 10px">
						</center>
						<div class="">
							<ul class="progressbar">
								<li id="generEmail">Datos</li>
								<li id="finishEmail">Finalizar</li>
							</ul>
						</div>
					</div>
				</div>
				<form name="multiStepForm1" class="form-validation" role="form" novalidate>
					<div ng-include="'views/modalEmail.html'"></div>
				</form>
			</div>
		</main>
	</div>
</div>
<!-- MODAL1 -->
<!--<div ng-include="'views/modalFB.html'" ng-if="typeLogueo == 'facebook.com'"></div>
	<div ng-include="'views/modalPhone.html'" ng-if="typeLogueo == 'phone'"></div>
	<div ng-include="'views/modalEmail.html'" ng-if="typeLogueo == 'password'"></div> -->
<!-- MODAL22 -->
<div id="modal22" class="modal modal-fixed-footer">
	<div class="modal-content" style="text-align: justify;text-justify: inter-word">
		<div ng-include="'views/termCondition.html'"></div>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close termAccept waves-effect waves-light btn btnModal">Aceptar</a>
	</div>
</div>
<!-- MODAL22 -->
<section id="sectionNew" class="mbr-section mbr-section--no-padding section-gray fadeIn animated" style="background:#f2f2f2 !important;display:none">
	<div class="mbr-box mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height">
		<nav style="background-color: transparent">
			<div class="nav-wrapper left-align left">
				<a id="backLogout" class="brand-logo left-align left EsphimereLight" style="color: #777777 !important" href="#!/login">
					<i class="flaticon-previous" style="font-size: 20px">Atrás</i>
				</a>
			</div>
			<center>
				<a href="#!">
					<img src="dist/img/Icono-negro.png" alt="Logo Ime" style="width: 3em;margin-top: 12px">
				</a>
			</center>
		</nav>
		<div>
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12 xl12">
						<div style="color:#1A1A1A">
							<p class="text-center EsphimereLight" id="txtInfo" style="font-size: 15px">Valida tu número móvil</p>
						</div>
						<form method="POST" id="frm-phone" data-proceso="1">
							<div id="formInit">
								<div class="col s6 m6 l6 xl6" style="z-index:99 !important">
									<select name="countries" id="countries">
										<option value="+1" data-image="dist/img/blank.gif" data-imagecss="flag do" data-title="+1">+1</option>
										<option value="+57" data-image="dist/img/blank.gif" data-imagecss="flag co" data-title="+57">+57</option>
										<option value="+58" data-image="dist/img/blank.gif" data-imagecss="flag ve" data-title="+58">+58</option>
										<option value="+91" data-image="dist/img/blank.gif" data-imagecss="flag in" data-title="+91">+91</option>
									</select>
								</div>
								<div class="col s6 m6 l6 xl6" style="z-index:99 !important">
									<div id="co">
										<select name="operator" id="operator">
											<option value="92" data-title="Claro">Claro</option>
											<option value="66" data-title="Movistar">Movistar</option>
											<option value="67" data-title="Tigo-UNE">Tigo-UNE</option>
											<option value="68" data-title="Virgin Mobile">Virgin Mobile</option>
											<option value="69" data-title="Avantel">Avantel</option>
											<option value="70" data-title="Móvil Éxito">Móvil Éxito</option>
											<option value="71" data-title="ETB">ETB</option>
											<option value="72" data-title="Uff! Móvil">Uff! Móvil</option>
											<option value="73" data-title="Directv Net">Directv Net</option>
										</select>
									</div>
										<div id="do">
											<select name="operator2" id="operator2">
												<option value="89" data-title="Altice">Altice</option>
												
												<option value="90" data-title="Claro">Claro</option>
												<option value="91" data-title="Viva">Viva</option>
											</select>
										</div>
										<div id="in">
											<select name="operator4" id="operator4">
												<option value="94" data-title="Airtel">Airtel</option>
												<option value="93" data-title="Vodafone">Vodafone</option>
												<option value="95" data-title="Jio">Jio</option>
											</select>
										</div>
									<div id="ve">
										<select name="operator3" id="operator3">
											<option value="87" data-title="Movistar">Movistar</option>
											<option value="88" data-title="Digitel">Digitel</option>
										</select>
									</div>
								</div>
								<div class="col s12 m12 l12 xl12 EsphimereLight" style="z-index:999 !important;margin-top:5%">
									<input type="tel" placeholder="Número de Celular" onkeypress="return justNumbers(event);" class="form-control border-radius center"
									 ng-model="phone" style="background:white;border-bottom: 0px;color:#777;box-shadow: 0 1px 0 0 #ffffff;height: 4rem !important"
									 id="phone">
								</div>
								<div style="color:#1A1A1A;margin: 25px 0 40px" class="col s12 m12 l12 xl12">
									<p class="EsphimereLight p-login-tlf">Te enviaremos un mensaje de texto con tu código de validación, recuerda verificar que tu número de celular fue ingresado
										correctamente.</p>
								</div>
								<div class="row">
									<a data-target="modal22" class="modal-trigger center" style="color:black;font-size: 105%">Acepto los términos y condiciones</a>
									<input type="checkbox" id="termCheck">
									<label for="termCheck" style="padding-left: 0"></label>
								</div>
							</div>
							<div id="div-code" style="display: none">
								<div class="container">
									<div class="row">
										<div class="col s12 m12 l12 xl12">
											<div style="padding: 30px">
												<p class="center EsphimereLight" id="showNumber" style="font-size: 20px;color:#FF4200"></p>
											</div>
											<div class="input-field col s12">
												<!-- <input class="validate" type="number" name="code" id="code" style="color: red;text-align:center;" /> -->
												<!-- <div class="col s2 m2 l2 xl2 EsphimereLight div-input-next">
													<input type="tel" id="input1" style="box-shadow: 0 0px 0 0 #FF4200; color:#777" onkeyup="jump(this,'input2')"
													 class="border-radius center input-next" maxlength="1">
												</div>
												<div class="col s2 m2 l2 xl2 EsphimereLight div-input-next">
													<input type="tel" id="input2" style="box-shadow: 0 0px 0 0 #FF4200; color:#777" onkeyup="jump(this,'input3')"
													 class="border-radius center input-next" maxlength="1">
												</div>
												<div class="col s2 m2 l2 xl2 EsphimereLight div-input-next">
													<input type="tel" id="input3" style="box-shadow: 0 0px 0 0 #FF4200; color:#777" onkeyup="jump(this,'input4')"
													 class="border-radius center input-next" maxlength="1">
												</div>
												<div class="col s2 m2 l2 xl2 EsphimereLight div-input-next">
													<input type="tel" id="input4" style="box-shadow: 0 0px 0 0 #FF4200; color:#777" onkeyup="jump(this,'input5')"
													 class="border-radius center input-next" maxlength="1">
												</div>
												<div class="col s2 m2 l2 xl2 EsphimereLight div-input-next">
													<input type="tel" id="input5" style="box-shadow: 0 0px 0 0 #FF4200; color:#777" onkeyup="jump(this,'input6')"
													 class="border-radius center input-next" maxlength="1">
												</div>
												<div class="col s2 m2 l2 xl2 EsphimereLight div-input-next">
													<input type="tel" id="input6" style="box-shadow: 0 0px 0 0 #FF4200; color:#777" class="center border-radius text-center input-next"
													 maxlength="1">
												</div> -->
												<div class="col s12 m12 l12 xl12 " style="margin-left:15px;">
													<input type="number" id="input1" style="box-shadow: 0 0px 0 0 #FF4200; color:#777" class="center border-radius text-center input-next" maxlength="6">
												</div>
											</div>
											<div style="padding: 5px">
												<a href="javascript:;" class="EsphimereLight waves-effect" ng-click="enviarSMS(3)" style="font-size: 20px;color:#FF4200">No obtuve un código</a>
											</div>
											<div style="color:#1A1A1A;display:none" id="newCode" class="col s12 m12 l12 xl12">
												<p class="EsphimereLight p-login-tlf">RECIBIRÁS UN NUEVO CÓDIGO EN UNOS SEGUNDOS.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button type="submit" id="btn_phone" name="btn_phone" style="animation-delay: 1.0s;height:0%; font-weight:bold !important;font-size: 170% !important"
							 class="mbr-buttons__btn btn btn-lg btn-info pull-center EsphimereLight fadeIn animated buttom-login-tlf2 waves-effect">Enviar SMS</button>
							<button type="button" ng-click="reiniciar()" id="btn_change" name="btn_phone" style="display:none; animation-delay: 1.0s;height:0%; font-weight:bold !important;font-size: 170% !important;padding: 15px;border-radius: 50px;width: 70%"
							 class="mbr-buttons__btn btn btn-lg btn-optional center EsphimereLight fadeIn animated buttom-login-tlf2 waves-effect">Cambiar Número</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="sectionOld">
	<header class="fadeIn animated" id="headerHome">
		<nav class="nav-extended background4d" style="margin-top: -6px">
			<div class="nav-wrapper">
				<div class="left">
					<div sidebar-toggle="sidebar1" id="search">
						<i class="flaticon-search-1" style="display:block !important"></i>
					</div>
				</div>
				<center>
					<img src="dist/img/Icono-blanco.png" alt="Logo Ime" class="center-img" style="width: 2.5em;top: 15px">
				</center>
				<div class="right">
					<div sidebar-toggle="sidebar2" id="faq">
						<i class="flaticon-info marginRight15"></i>
					</div>
				</div>
			</div>
			<div class="sub-header EsphimereLight">
				<div class="swipe-tabs">
					<div class="swipe-tab waves-effect waves-light" id="influencers">INFLUENCERS</div>
					<div class="swipe-tab waves-effect waves-light" id="planes">PLANES</div>
				</div>
			</div>
		</nav>
	</header>
	<main class="fadeIn animated" id="mainHome" data-ng-init="init()">
		<div class="main-container EsphimereLight">
			<slick class="swipe-tabs-container" settings="slickConfig">
				<div id="atletas-tab" class="swipe-tab-content fadeIn animated" style="animation-delay: 1s;margin-bottom: 61px !important">
					<div lazy-scroll="listDataAthletes()" lazy-scroll-trigger="99">
						<div ng-repeat="athlete in testData | orderBy : 'id' track by $index" when-visible="animateElementIn" when-not-visible="animateElementOut">
							<a href="#!plansByAthlete" ng-click="oneAthlete(athlete.id)" ng-if="athlete.name || !athlete.state">
								<div class="row marginBottom0">
									<div id="" class="col s12 m7 padding0Width100">
										<div class="card margin0">
											<div class="card-image">
												<div class="hero-image">
													<!-- imageonload -->
													<img ng-src="{{::athlete.urlList}}" class="responsive-img radius0Height" imageonload>
												</div>
												<span style="padding: 10px" class="card-title marginBottom55Font30">{{::athlete.name}}</span>
												<span style="padding: 10px" class="card-title marginBottom45Font15">{{::athlete.position}}</span>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="center" style="padding-top: 10px" ng-if="athlete.length > 5">
							<a ng-click="listDataAthletes()" class="waves-effect waves-light btn" style="background: #FF4200;border-radius: 50px">{{loadmore}}</a>
						</div>
					</div>
				</div>
				<div id="fitplans-tab" class="swipe-tab-content" style="margin-bottom: 61px !important">
					<div lazy-scroll="listDataPlans()" lazy-scroll-trigger="99">
						<div ng-repeat="plan in testDataPlans | orderBy : 'id' track by $index" when-visible="animateElementIn" when-not-visible="animateElementOut">
							<a href="#!routinesByPlan" ng-click="onePlan(plan.id)" ng-if="plan.name != '' || !plan.state">
								<div class="row marginBottom0">
									<div id="" class="col s12 m7 padding0Width100">
										<div class="card margin0">
											<div class="card-image">
												<div class="hero-image">
													<img ng-src="{{::plan.url}}" class="responsive-img radius0Height" imageonload>
												</div>
												<span class="card-title" style="padding: 10px;margin-bottom: 15% !important;font-size: 125% !important">{{::plan.ath_Name}}</span>
												<span class="card-title" style="padding: 10px;font-size:180% !important;margin-bottom: 2% !important">{{::plan.name}}</span>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="center" style="padding-top: 10px" ng-if="plan.length > 5">
							<a ng-click="listDataAthletes()" class="waves-effect waves-light btn" style="background: #FF4200;border-radius: 50px">{{loadmore}}</a>
						</div>
					</div>
				</div>
			</slick>
		</div>
	</main>
	<footer class="page-footer footer_e fadeIn animated background4d" id="footerHome" style="animation-delay: 1.5s">
		<div class="footer-copyright">
			<div class="container center EsphimereLight" style="width: 100% !important">
				<div class="row marginLeftBottom">
					<div class="col s2"></div>
					<div class="col s2">
						<a href="#!home">
							<div class="icon_middle floatNone active-foot">
								<i class="flaticon-worldwide"></i>
								<span class="font9MarginLeft20">Explorar</span>
							</div>
						</a>
					</div>
					<div class="col s2">
						<a href="#!progressDetail" class="ccc">
							<div class="icon_middle floatNone">
								<i class="flaticon-repeat-1"></i>
								<span class="font9MarginLeft20">Progreso</span>
							</div>
						</a>
					</div>
					<div class="col s2">
						<a href="#!dailyRoutine" class="ccc">
							<div class="icon_middle floatNone">
								<i class="flaticon-login"></i>
								<span class="font9MarginLeft20">Entrenar</span>
							</div>
						</a>
					</div>
					<div class="col s2">
						<a href="#!perfil" class="ccc">
							<div class="icon_middle floatNone">
								<i class="flaticon-user-3"></i>
								<span class="font9MarginLeft15">&nbsp;&nbsp;&nbsp;Perfil</span>
							</div>
						</a>
					</div>
					<div class="col s2"></div>
				</div>
			</div>
		</div>
	</footer>
	<!-- INICIO PANEL BUSQUEDA -->
	<sidebar id="sidebar1" size="100%" position="left" is-expanded="false">
		<div class="panel_inner EsphimereLight">
			<header>
				<nav class="nav-extended background4d">
					<div class="nav-wrapper center" id="searchNav">
						<div class="left">
							<div sidebar-toggle="sidebar1" class="clickSearcher">
								<i class="flaticon-error"></i>
							</div>
						</div>
						<input type="search" id="searcher" style="width:150px" id="autocomplete-input" class="autocomplete white-text center"
						 placeholder="Buscar" ng-model="searcher" ng-keyup="sendData(searcher);">
						<!-- <img id="clearInput" ng-click="clearNg();" src="dist/img/icon.png" alt="delete" width="15"> -->
						<div class="right">
							<div sidebar-toggle="sidebar1" class="clickSearcher">
								<i class="flaticon-skip marginRight15"></i>
							</div>
						</div>
					</div>
					<center>
						<div class="tabbed-section__selector effectJ" style="animation-delay: .5s">
							<div class="tabbed-section__selector-tab-1 active waves-effect waves-light">Influencers</div>
							<div class="tabbed-section__selector-tab-2 waves-effect waves-light">Planes</div>
							<span class="tabbed-section__highlighter"></span>
						</div>
					</center>
				</nav>
			</header>
			<main class="background1a whiteN">
				<div class="material-tabs effectJ margin0" id="tabs-busqueda" style="animation-delay: .5s">
					<div class="tabbed-section-1 visible whiteN">
						<div id="lolo">
							<div ng-repeat="athlete in arrAthleteSearcher|filter:searcher track by $index" class="fadeIn animated">
								<a href="#!plansByAthlete" ng-click="oneAthlete(athlete.id)" ng-if="athlete" class="clickSearcher">
									<div class="row margin0 background4d" style="margin-bottom: 1px !important">
										<div class="col s4 m4 l4 xl4 padding0">
											<div class="example-2 cardDiv">
												<div class="wrapper" style="background: url({{athlete.url}}) no-repeat center 4%;background-size: 100%;min-height: 100px !important"></div>
											</div>
										</div>
										<div class="col s8 m8 l8 xl8 padding0">
											<div style="margin-top: 40px">
												<p class="margin0" style="font-weight: bold;text-align:center;color:white">{{athlete.name}}</p>
												<p class="margin0" style="text-align:center;color:white" ng-if="athlete.count == 1">{{athlete.count}} Plan</p>
												<p class="margin0" style="text-align:center;color:white" ng-if="athlete.count > 1">{{athlete.count}} Planes</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="tabbed-section-2 hidden whiteN">
						<div ng-repeat="plan in arrPlansSearcher|filter:searcher track by $index" class="fadeIn animated">
							<a href="#!routinesByPlan" ng-click="onePlan(plan.id)" class="clickSearcher">
								<div class="row margin0 background4d" style="margin-bottom: 1px !important">
									<div class="col s4 m4 l4 xl4 padding0">
										<div class="example-2 cardDiv">
											<div class="wrapper" style="background: url({{plan.url}}) no-repeat center 12%;background-size: 100%;min-height: 60px !important"></div>
										</div>
									</div>
									<div class="col s8 m8 l8 xl8 padding0">
										<div style="margin-top: 20px">
											<p class="margin0" style="font-weight: bold;text-align:center;color:white">{{plan.name}}</p>
											<p class="EsphimereBold margin0" style="text-align:center;color:white" ng-if="plan.days > 1">{{plan.days}} días del plan</p>
											<p class="EsphimereBold margin0" style="text-align:center;color:white" ng-if="plan.days === 1">{{plan.days}} día del plan</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>
	</sidebar>
	<!-- FIN PANEL BUSQUEDA -->
	<!-- INICIO PANEL FAQ -->
	<sidebar id="sidebar2" style="background:white" size="100%" position="right" is-expandable="false">
		<header>
			<nav class="nav-extended background4d">
				<div class="nav-wrapper center" id="faqNav">
					<!-- <div class="left">
						<div sidebar-toggle="sidebar2">
							<i class="flaticon-previous"></i>
						</div>
					</div> -->
					<span style="margin-left:60px">FAQ</span>
					<div class="right">
						<div sidebar-toggle="sidebar2">
							<i class="flaticon-error marginRight15"></i>
						</div>
					</div>
				</div>
				<div class="row background1A">
					<div class="col s3 center imgleft" style="animation-delay:0.3s">
						<div class="icon_middle floatNone">
							<img id="prueba" src="dist/img/avatar1.png" alt="Trainer" class="circle responsive-img" style="width:80px;height:70px;-webkit-filter: grayscale(80%);filter: grayscale(80%)">
							<span class="marginTop30ColorWhite" style="margin-top:-15px !important">Yarishna</span>
						</div>
					</div>
					<div class="col s3 center imgleft" style="animation-delay:0.6s">
						<div class="icon_middle floatNone">
							<img src="dist/img/avatar2.png" alt="Trainer" class="circle responsive-img" style="width:80px;height:70px;-webkit-filter: grayscale(80%);filter: grayscale(80%)">
							<span class="marginTop30ColorWhite" style="margin-top:-15px !important">Luisa</span>
						</div>
					</div>
					<div class="col s3 center imgleft" style="animation-delay:0.9s">
						<div class="icon_middle floatNone">
							<img src="dist/img/avatar3.png" alt="Trainer" class="circle responsive-img" style="width:80px;height:70px;-webkit-filter: grayscale(80%);filter: grayscale(80%)">
							<span class="marginTop30ColorWhite" style="margin-top:-15px !important">Alex</span>
						</div>
					</div>
					<div class="col s3 center imgleft" style="animation-delay:1.1s">
						<div class="icon_middle floatNone">
							<img src="dist/img/avatar4.png" alt="Trainer" class="circle responsive-img" style="width:80px;height:70px;-webkit-filter: grayscale(80%);filter: grayscale(80%)">
							<span class="marginTop30ColorWhite" style="margin-top:-15px !important">Giovanny</span>
						</div>
					</div>
					<div id="titlefaq" class="center parrafoFaq" style="animation-delay:1s">
						<p>Estamos aquí para responder tus inquietudes acerca de InfluenceME escríbenos</p>
					</div>
					<hr class="hr">
				</div>
			</nav>
		</header>
		<main class="backgroundWhite">
			<ul id="ulfaq" class="collapsible backgroundWhite" data-collapsible="accordion" style="animation-delay: 1.3s">
				<li ng-repeat="faq in FAQS track by $index">
					<div class="collapsible-header color1A">{{::faq.name}}</div>
					<div class="collapsible-body color4D">
						<span>{{::faq.answers[0].name}}</span>
					</div>
				</li>
			</ul>
		</main>
	</sidebar>
	<!-- FIN PANEL FAQ -->
</section>
<!-- build:js -->
<script src="public/js/app/home.js"></script>
<!-- endbuild -->